<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Docplanner Group
    </title>

    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="header">
        
        <img class="biglogo" src="image/logo-default-group-en.svg" alt="">
        <nav>
            <ul>
                <li><a href="layout.html">about us</a></li>
                <li><a href="layout.html">career</a></li>
                <li><a href="layout.html">departement</a></li>
            </ul>

        </nav>
        
    </div>
    <div class="firstsection">
        <section>
            <div class="logo">
                <img class="logoimg" src="image/logo.png">
            </div>
            <h1 id="title">Making the healthcare experience more human</h1>
            <div class="intro" >
                <p>
                    <h3>
                        We want patients to find the perfect doctor and book an appointment in the most easy way. The patient journey should be enjoyable, and that's why we are always next to them: to help them find the best possible care. Anytime, anywhere.
                    </h3>
                </p>
                <p>
                    <h3>
                        We also help doctors to better manage their practice and build their online reputation. With our integrated end-to-end solution, doctors are able not only to improve their online presence, but also to devote their time to what really matters: their patients.
                    </h3>
                </p>
            </div>
            <section>
                <div class="blocks">
                    <div class="block" id="for_patient">
                        <div>
                            <div>
                                <img src="image/icon-patients.svg"class="icon" alt="" id="iconpatient">
                                
                            </div>
                            <h1>for patients</h1>
                            <h3>Find a doctor, book a visit and solve any health-related doubt</h3>
    
                        </div>
                        
                        <div id="select_country">
                            <select name="country" data-id="domain switcher">
                                <option value="country" id="choosecountry">choose country</option>
                                <option value="argentina">argentina</option>
                                <option value="columbia">columbia</option>
                                <option value="chile">chile</option>
                            </select>
    
                        </div>
                        
        
                        
                    </div>
                    <div class="block" id="for_doctors">
                        <div>
                            <div>
                                <img src="image/doctors.png"class="icon" alt="" id="icondoctors">
                                
                            </div>
                            <h1>for doctors</h1>
                            <h3>Save time managing visits and cut no-shows by half</h3>
    
                        </div>
                        
                        <div id="select_country">
                            <select name="country" data-id="domain switcher">
                                <option value="country" id="choosecountry">choose country</option>
                                <option value="argentina">argentina</option>
                                <option value="columbia">columbia</option>
                                <option value="chile">chile</option>
                            </select>
    
                        </div>
        
                        
        
                    </div>
                    <div class="block" id="for_clinic">
                        <div>
                            <div>
                                <img src="image/icon-clinics.svg" alt=""class="icon" id="iconclinic">
                                
                            </div>
                            <h1>for clinics</h1>
                            <h3>Deliver an exceptional patient experience in your clinic</h3>
    
                        </div>
                        <div>
                            <select name="specialists" id="specialists">
                                <option value="2 to 20 specialists">2 to 20 specialists</option>
                                <option value="blah">blah</option>
                            </select>
                            <select name="more than 20 specialists" id="more than 20 specialists">
                                <option value="more than 20 specialists">more than 20 specialists</option>
                                <option value="idk">idk</option>
                            </select>
    
                        </div>
                        
                            
                        
                        
                    </div>
                </div>
    
        </section>
        
            
            <section>
                <div class="section2">
                    <h1>we are a global company
                        <br>
                         with local cultures</h1>
    
                    
                       
                        
                    <div id="logos">
                        <ul>
                            <li><img src="image/3a6e9908-6be9-46f3-bd98-85f68d9d19b7.svg" alt=""></li>
                            <li><img src="image/5d3f7e3e-46c7-4a50-a97b-0a8e870c007c.svg" alt=""></li>
                            
                            <li><img src="image/77544256-6287-4182-ba39-10ff97318c0f.svg" alt=""></li>
                            <li><img src="image/bbc4af7b-c7c8-48f3-9403-e764a33e7e89.svg" alt=""></li>
                            <li><img src="image/logo-clinicloud.svg" alt=""></li>
                            
                            <li><img src="image/logo-feegow.svg" alt=""></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </section>

    </div>

   
    
    
    
     

            
    

    <section class="stats">
        <div class="section_inner">
            <div class="firstdiv">
                <h1>The world's biggest
                    healthcare platform</h1>
                    <h3>We work from 9 offices all over the world, bringing Docplanner Group to life in 13 countries.</h3>
                <div id="icon">
                    <img src="image/logo.png" alt="">
        
                </div>
            </div>
            
            <div id="blocks_">
    
                <div class="firsttwo">
                    <div class="child" id="one">
                        <div class="box">
                            <img src="image/flag.png" alt="" class="flag">
                            <h1>Leader in 13 countries</h1>
                            <h4>Poland, Brazil, Mexico, Spain, Italy, Germany, Turkey, Colombia, Czech Republic, Portugal, Argentina, Peru and Chile</h4>
                        </div>
                    </div>
                    <div class="child" id="two">
                        <img src="image/visits.png" alt="">
                        
                        <h1>15,000,000
                            appointments</h1>
                            <h4>booked last month</h4>
                    </div>
                </div>
                <div class="lasttwo">
                    <div class="child" id="three">
                        <img src="image/patients.png" alt="">
                        <h1>90,000,000
                            patients</h1>
                            <h4>visit our websites each month</h4>
                    </div>
                    <div class="child" id="four">
                        <img src="image/doctors.png" alt="">
                        <h1>210,000
                            active doctors</h1>
                            <h4>trust our solutions</h4>
                    </div>
                </div>
            </div>

        </div>
        
    </section>
    <div class="secondsection">
        <div class="paragraphtwo">
            <h1>Improve the lives of millions. Change yours forever.</h1>
            <h4>More than 2800 team mates share our same vision, goals and passion. With offices in Warsaw, Barcelona, Munich, Istanbul, Rome, Rio, Bologna, Mexico City and Curitiba, our search for great talent never stops.</h4>
        </div>
        <div class="countries">
            <div class="country">
                <img src="image/bogota.png" alt="">
                <div class="btndiv">
                    <h5>bogota</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/bologna.png" alt="">
                <div class="btndiv">
                    <h5>bologna</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/curitiba.png" alt="">
                <div class="btndiv">
                    <h5>curitiba</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/istanbul.png" alt="">
                <div class="btndiv">
                    <h5>istanbul</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/mexico-city.png" alt="">
                <div class="btndiv">
                    <h5>mexico city</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/munich.png" alt="">
                <div class="btndiv">
                    <h5>munich</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/rio-janeiro.png" alt="">
                <div class="btndiv">
                    <h5>rio de janeiro</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/rome.png" alt="">
                <div class="btndiv">
                    <h5>rome</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
            <div class="country">
                <img src="image/warsaw.png" alt="">
                <div class="btndiv">
                    <h5>warsaw</h5>
                    <button class="button">see openings</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="lastsection">
        <div class="lastpara">
            <h1>Sounds interesting? Join us now!</h1>
            <button class="bigbtn">see all current openings</button>        
        </div>
    </div>
    <footer>
        <div class="footer">
            <h6>We are leaders in 13 countries: Poland, Turkey, Spain, Italy, Germany, Czech Republic, Portugal, Mexico, Colombia, Brazil, Argentina, Peru and Chile</h6>
            <h6>www.docplanner.com © 2023</h6>

        </div>
        
    </footer>

    

    
    
        
    
     
    

    <script src="script.js"></script>
    
</body>
</html>